<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>  
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css"/>  
</head>  
<body>  
    <div id="login">  
        <h1>Register</h1>  
        <input type="text" required="required" placeholder="用户名" id="login_name"></input>  
        <input type="password" required="required" placeholder="密码" id="login_passwd"></input>  
        <button class="but" type="submit" id="submit">注册</button>
    </div>  
</body>
<script src="../../static/js/base_utils.js"></script>
<script src="../../static/js/jquery-1.10.2.js"></script>
<script src="../../static/js/jquery.cookie.js"></script>
<script>
    $(function() {
        $("#submit").on('click', function() {
            console.log('click')
            var data = {
                'login_name': $("#login_name").val(),
                'login_passwd': $("#login_passwd").val()
            }
            ajaxPost('/register', data, function(ret) {
                if (ret.code === 1) {
                    alert('注册成功');
                    window.location.href = '/login'
                } else if (ret.code === -1){
                    alert('该用户名已被注册')
                } else if (ret.code === -2) {
                    alert('请正确填写注册信息')
                } else {
                    alert('服务器异常！')
                }
            })
        })
    })
</script>
</html>
